.music {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.1s linear;
  background-color: var(--bg-dark);
  z-index: 1000;
}

.music__container {
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 10px;
}
.music__container{
  padding: 15px;
  padding-bottom: 40px;
}
.music__container .btn{
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.music__header {
  padding: 2rem;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.music__header{
  justify-content: center !important;
}

.music__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 10px;
}

.music__img {
  padding: 2rem;
}

.no-sound-main{
  width: fit-content;
  padding: 10px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 13px;
  border-radius: 10px;
  border: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
}