body{
    background-color: #1F2833;
}
.logo{
    display: flex;
    justify-content: center;
    width: 100%;
}
.logo-img{
    width: 100px;
    height: 100px;
}
.leaderboard{
    margin-top: 15px;
    padding: 20px 20px;
}
.leaderboard h3{
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}
.leaderboard p{
    font-size: 13px;
    color: #fff;
    text-align: center;
}
.roundTimer{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}
.leaderboard_main{
    margin-top: 20px;
}
._leaderboard table{
    font-size: 13px; 
    width: 100%;
     margin-bottom: 0px !important;
    color: #1F2833;
}
._leaderboard table .d-flex{
    overflow: hidden;
    text-overflow: ellipsis;
}
._leaderboard table .d-flex img{
    width: 15px;
    height: 15px;
}
._leaderboard table tr{
    margin-bottom: 5px;
}
._leaderboard table tr th{
    /* text-align: center; */
    min-width: 58px;
}
._leaderboard table td{
    text-align: center;
}
._leaderboard{
    background-color: #66fcf1;
    padding: 20px 10px 10px;
    border-radius: 15px;
}
._leaderboard p{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px !important;
    margin-left: 8px;
}
._leaderboard h5{
    font-size: 13px;
    color: #1F2833;
    padding: 0px 10px 10px;
}
.text-danger{
    color: red;
}