.won{
    color: #28a745;
}
.lost{
    color: #dc3545;
}
.roundOverContainer{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(140, 140, 140, 0.7);
    padding-top: 150px;
    color: #fff;
}
.roundOverContainer .grid{
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  padding-bottom: 15px;
  overflow: auto;
  width: 100px;
}
.roundOverContainer .grid div {
    width: 30px !important;
    height: 30px !important;
}
.roundoverBox{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.roundOverContainer h5{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.roundOverContainer h6{
    font-size: 17px;
    font-weight: 600;
}
.roundOverContainer h4{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}
.roundOverContainer p {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}
.roundOverContainer .img_box{
    display: flex;
    justify-content: center;
}
.roundOverContainer img{
    width: 80px;
    margin-bottom: 10px;
}
.roundOverContainer .button_box{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.roundOverContainer .btn{
    padding: 15px;
    background-color: #66fcf1;
    border-radius: 5px;
    font-weight: 600;
    width: 70%;
    border: none;
    font-family: "Poppins", sans-serif;
}