.wasting-time{
    margin-top: 30px;
    background-color: transparent;
    color: #e9c256;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    border-left: 6px solid #fff;
    /* box-shadow: 0px 5px 38px rgba(114, 114, 114, 0.6); */
    border-right: 6px solid #fff;
    max-height: 65px;
}